:root {
  --color-green-200: hsl(148, 38%, 91%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);

  --color-white: hsl(0, 0%, 100%);
  --color-grey-500: hsl(186, 15%, 59%);
  --color-grey-900: hsl(187, 24%, 22%);
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--color-grey-900);
  background-color: var(--color-green-200);
  height: 100%;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 32px 16px;
}

@media (min-width: 600px) {
  .main {
    align-items: center;
    padding: 128px 39px;
  }
}

.form {
  max-width: 736px;
  width: 100%;
  padding: 23px;
  border-radius: 16px;
  background-color: var(--color-white);
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 600px) {
  .form {
    padding: 40px;
  }
}

.mb {
  margin-bottom: 16px;
}

.error {
  line-height: 1.5;
  color: var(--color-red);
  display: none;
}

.form__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.form__fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 600px) {
  .form__section {
    flex-direction: row;
  }
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.field__label {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  line-height: 1.5;
  cursor: pointer;
}

.field__label:after {
  content: "*";
  color: var(--color-green-600);
}

.field__input {
  width: 100%;
  height: 51px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-grey-900);
  padding: 12px 24px;
  border: 1px solid var(--color-grey-500);
  cursor: pointer;
}

.field__input:focus,
.field__input:hover,
.field__input:focus-visible {
  border: 1px solid var(--color-green-600);
  outline: none;
}

.field-radio {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 51px;
  border-radius: 8px;
  padding: 12px 24px;
  border: 1px solid var(--color-grey-500);
  cursor: pointer;
}

.field-radio:hover {
  border: 1px solid var(--color-green-600);
}

.field-radio__text {
  font-size: 18px;
  line-height: 1.5;
}

.field-radio__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.field-radio__custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-grey-500);
  border-radius: 50%;
  position: relative;
}

.field-radio__input:checked + .field-radio__custom {
  border-color: var(--color-green-600);
}

.field-radio__input:checked + .field-radio__custom::after {
  content: "";
  width: 11px;
  height: 11px;
  background: var(--color-green-600);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.field-radio:has(.field-radio__input:checked) {
  background: var(--color-green-200);
  border-color: var(--color-green-600);
}

.textarea {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.texxtarea__area {
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-grey-900);
  border: 1px solid var(--color-grey-500);
  border-radius: 8px;
  padding: 12px 24px;
  width: 100%;
  height: 240px;  
  cursor: pointer;
  resize: none;
}

@media (min-width: 600px) {
  .texxtarea__area {
    height: 105px;  
  }
}

.texxtarea__area:focus,
.texxtarea__area:hover,
.texxtarea__area:focus-visible {
  border: 1px solid var(--color-green-600);
  outline: none;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  margin: 40px 0;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox__custom {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1.5px solid var(--color-grey-500);
  border-radius: 2px;
  position: relative;
  margin: 6px;
}

.checkbox__input:checked + .checkbox__custom {
  border-color: var(--color-green-600);
}

.checkbox__input:checked + .checkbox__custom::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 0H1.5C1.10218 0 0.720644 0.158035 0.43934 0.43934C0.158035 0.720644 0 1.10218 0 1.5V16.5C0 16.8978 0.158035 17.2794 0.43934 17.5607C0.720644 17.842 1.10218 18 1.5 18H16.5C16.8978 18 17.2794 17.842 17.5607 17.5607C17.842 17.2794 18 16.8978 18 16.5V1.5C18 1.10218 17.842 0.720644 17.5607 0.43934C17.2794 0.158035 16.8978 0 16.5 0ZM13.2806 7.28063L8.03063 12.5306C7.96097 12.6004 7.87825 12.6557 7.78721 12.6934C7.69616 12.7312 7.59856 12.7506 7.5 12.7506C7.40144 12.7506 7.30384 12.7312 7.21279 12.6934C7.12175 12.6557 7.03903 12.6004 6.96937 12.5306L4.71937 10.2806C4.57864 10.1399 4.49958 9.94902 4.49958 9.75C4.49958 9.55098 4.57864 9.36011 4.71937 9.21937C4.86011 9.07864 5.05098 8.99958 5.25 8.99958C5.44902 8.99958 5.63989 9.07864 5.78063 9.21937L7.5 10.9397L12.2194 6.21937C12.2891 6.14969 12.3718 6.09442 12.4628 6.0567C12.5539 6.01899 12.6515 5.99958 12.75 5.99958C12.8485 5.99958 12.9461 6.01899 13.0372 6.0567C13.1282 6.09442 13.2109 6.14969 13.2806 6.21937C13.3503 6.28906 13.4056 6.37178 13.4433 6.46283C13.481 6.55387 13.5004 6.65145 13.5004 6.75C13.5004 6.84855 13.481 6.94613 13.4433 7.03717C13.4056 7.12822 13.3503 7.21094 13.2806 7.28063Z' fill='%230C7D69' /%3E%3C/svg%3E");
  background-position: center;
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 59px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
  border-radius: 8px;
  background: var(--color-green-600);
  cursor: pointer;
}

.form__button:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--color-green-600);
}

.popup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  max-width: 498px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.popup.active {
  transform: translate(-50%, 0%);
}

.popup__wrap {
  border-radius: 12px;
  padding: 24px;
  margin: 24px;
  background: var(--color-grey-900);
}

.popup__title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
}

.popup__title:before {
  content: "";
  height: 24px;
  width: 24px;
  background-image: url("/assets/images/icon-success-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popup__text {
  line-height: 1.5;
  color: var(--color-green-200);
  margin-top: 8px;
}
